@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #121212;
}

#top-burger {
    height: 5px;
    width: 25px;
    background-color: #e9e3e6;
}

#middle-burger {
    height: 5px;
    width: 30px;
    background-color: #e9e3e6;
    margin: 4px 0px 4px 0px
}

#bottom-burger {
    height: 5px;
    width: 25px;
    background-color: #e9e3e6;
}